@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="https://www.entityframeworktutorial.net/code-first/dataannotation-in-code-first.aspx">Data Annotations</a>
    <a href="https://www.entityframeworktutorial.net/code-first/fluent-api-in-code-first.aspx">Fluent API</a>
</div>
