@page
@model RazorPages_Part2.Pages.PartialViewSamples.Sample1Model
@{
}

<p>
    Wo wird eine PartialView gesucht?
</p>
<p>/Pages/PartialViewSamples/_AktuellesDatumPartial.cshtml</p>
<p>/Pages/_AktuellesDatumPartial.cshtml</p>
<p>/Pages/Shared/_AktuellesDatumPartial.cshtml</p>
<p>/Views/Shared/_AktuellesDatumPartial.cshtml</p>

<partial name="_AktuellesDatumPartial" />