@page
@model RazorPages_Part2.Pages.PictureSamples.UploadModel
@{
}


<form enctype="multipart/form-data" method="post">
    <input type="file" name="datei" dirname="C:\" />

    <div>
        <input type="submit" value="Upload" />
    </div>
</form>