@page
@model RazorPages_Samples.Pages.IntroSamples.FirstSample_ShowMovieModel
@{
}


<p>Razor Templatesystem</p>
<p>Ein Templatesystem erlaubt das Darstellen von HTML mit Platzhaltern. Bei den Platzhaltern werden Objekte aufgelöst und dargestellt. Es wird Logik und Darstellung getrennt.</p>
<p>In Templatesystemen wird an der UI nur Dargestellt und Formulareingaben entgegen genommen. Es werden Berechnungen an der UI stattfinden. Ausnahme wenn man JavaScript zusätzlich einsetzt (mit Selektoren) </p>

@Model.MovieObj.Title
<br />
@Model.MovieObj.Description
<br />
@Model.MovieObj.Price
<br />
@Model.MovieObj.Genre


@if(Model.MovieObj.Genre == Models.GenreType.Drama)
{
    <p>Dramafilme sind nicht Lustig</p>
}